@font-face {
    font-family : '나눔스퀘어otf-Bold';
    src : url(../../components/fonts/NanumSquareOTF_acB.otf)
}

.video-highest-main{
    background: #56596B;
    padding-bottom: 264px;
    flex-direction: column;
    align-items: center;
    gap: 94px;
}