@font-face {
  font-family : '나눔스퀘어otf-Regular';
  src : url(./fonts/NanumSquareOTF_acR.otf)
}

.list-frame{
  display: flex;
  padding: 21px 32px 48px 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  flex: 1 0 0;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.list-text {
  color: #000;

  /* IntroduceSubtitle-bold */
  font-family: '나눔스퀘어otf-Regular';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.list-button{
  display: flex;
  padding-right: 132px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 30px;
  background: #30348C;
}

.list-components{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
}


.list-info-frame {
  display: flex;
  padding: 16px 0px 7px 20px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
}

.list-info-elipse-frame{
  display: flex;
  align-items: center;
  gap: 10px;
  
  .list-info-elipse{
    width: 27px;
    height: 27px;
  }
}


.list-info-subtitle-frame{
  display: flex;
  align-items: center;
  gap: 10px;

  .list-info-subtitle{
    color: #FFF;

    /* Teacherplay-regular */
    font-family: '나눔스퀘어otf-Regular';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.list-explain-frame{
  display: flex;
  padding-left: 76px;
  align-items: flex-start;
  gap: 9px;
  align-self: stretch;
}

.list-explain-TestVideo{
  display: flex;
  padding: 101px 128px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 20px;
  background: #363636;

  .list-explain-TestVideo-text{
    width: 138px;
    height: 44px;
    color: #FFF;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.list-explain-discription{
  display: flex;
  padding-left: 59px;
  align-items: center;
  gap: 8px;
  align-self: stretch;

  .list-explain-discription-text{
    color: #FFF;

    /* IntroduceComment-regular */
    font-family: '나눔스퀘어otf-Regular';
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}